$bg: #222;
$inputBg: #333;
$border: #474747;
$grey1: #eee;
$grey2: #aaa;
$grey3: #777;
$transp: hsla(0, 0%, 100%, 0.1);
$dark: #111111;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
body {
  background: $bg;
  color: $grey1;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0 0 5rem 0;
  .studio {
    margin: 3rem 0 5rem 0;
    width: 100%;
    text-align: center;
    font-weight: 400;
    & > h5 {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 0.015rem;
      line-height: 1;
      color: $grey2;
    }
    & > span {
      margin-top: 5px;
      display: block;
      line-height: 1;
      font-size: 8px;
      letter-spacing: 1px;
      color: $grey2;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.015rem;
    }
  }
}

.title {
  position: relative;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0.015rem;
  text-align: center;
  color: $grey1;
  font-family: "Playfair Display", serif;
}
.slider {
  display: flex;
  justify-items: start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto 1rem auto;
  max-width: 990px;
  transition: 0.15s cubic-bezier(0.34, 0.53, 0.37, 1.02);

  &:hover {
    cursor: pointer;
  }
  .swiper-pagination-bullet {
    background: $grey2;
  }
}

.next {
  margin-left: 8px;
}
.prev {
  margin-right: 8px;
}
.next,
.prev {
  font-size: 12px;
  color: $grey1;
  position: relative;
  z-index: 10000;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid $transp;
  background: $inputBg;
}
.swiperx {
  &__info {
    z-index: 100;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: $grey1;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.015rem;
    & > h2 {
      font-weight: inherit;
      font-size: inherit;
      color: $grey1;
    }
    & > p {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 400;
      color: $grey2;
    }
  }
  display: block;
  position: relative;
  padding-top: 55%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  & > img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contact {
  max-width: 911px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px auto 0 auto;
  border: 1px solid $transp;
  background: $inputBg;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: $grey2;
  padding: 4rem 2rem 2rem 2rem;
  margin-top: 8px;
  color: $grey2;
  letter-spacing: -0.01rem;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 50px;
  border: 0;
  outline: 0;
  padding: 0.65rem 1.6rem;
  background: $grey1;
  font-family: inherit;
  color: $bg;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    box-shadow 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 12px 20px -6px rgba(0, 0, 0, 0.5);
  }
}

.footer {
  max-width: 911px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem auto 5rem auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: $grey2;
  padding: 4rem 2rem;
  color: $grey2;
  letter-spacing: -0.01rem;
  font-size: 14px;
  font-weight: 500;
  &__image {
    height: 94px;
    width: 94px;
    border: 1px solid $transp;
    border-radius: 50%;
    background: $dark;
    position: relative;
    &__location {
      position: absolute;
      right: 0;
      height: 30px;
      width: 30px;
      bottom: 0;
      border: 1px solid $transp;
      border-radius: 50%;
      background: $grey1;
    }
  }
  &__text {
    margin-top: 2rem;
    text-align: center;
    & > h4 {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 0.015rem;
      line-height: 1;
      color: $grey2;
    }
    & > h5 {
      margin-top: 0.5rem;
      color: $grey2;
      letter-spacing: -0.01rem;
      font-size: 14px;
      font-weight: 500;
    }
    & > span {
      display: block;
      color: $grey2;
      letter-spacing: -0.01rem;
      font-size: 14px;
      font-weight: 500;
      margin-top: 4rem;
    }
  }
}

.asterisk {
  position: absolute;
  animation: asterisk 1s linear infinite;
  width: 40px;
  min-width: 40px;
  top: 10px;
  display: inline-flex;
  justify-items: flex-start;
  align-items: flex-start;
  text-align: center;
  max-width: 40px;
  max-height: 50px;
  height: 100%;
  font-size: 32px;
}
@keyframes asterisk {
  0% {
    font-family: "Noto Serif HK", serif;
  }
  25% {
    font-family: "Inter", sans-serif;
  }
  50% {
    font-family: "Inspiration", cursive;
  }
  75% {
    font-family: "Mukta", sans-serif;
  }
  100% {
    font-family: "Noto Serif JP", serif;
  }
}

.draw {
  position: relative;
}

.x {
  position: absolute;
  display: block;
  width: 120%;
  height: 120%;
  bottom: -18px;
  left: -15px;
  z-index: -1;
  transform: rotate(8deg);
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: draw 0.3s ease-in forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
